<h1>Activate your Torch account</h1>

<p>
  Welcome to Torch, <%= @user.name %>!
</p>

<p>
  Click the link below to activate your account:
</p>

<p>
  <%= link_to 'Activate', @activation_url %>
</p>

<p>
  If you did not create this account, please ignore this email.
</p>
