<h1 class="text-3xl font-bold mb-4"><%= @page.title %></h1>

<div id="blocks" data-controller="sortable">
  <%= render @page.blocks %>
</div>

<button onclick="document.querySelector('#new-block-form').classList.toggle('hidden')" class="mt-4 btn btn-primary">Add Block</button>

<%= render partial: "blocks/form", locals: { block: @page.blocks.new } %>
