@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@layer components {
  .btn {
    @apply px-4 py-2 rounded font-medium;
  }

  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-600 text-white hover:bg-gray-700;
  }

  .alert {
    @apply px-4 py-3 rounded;
  }

  .alert-notice {
    @apply bg-green-100 border border-green-400 text-green-700;
  }

  .alert-alert {
    @apply bg-red-100 border border-red-400 text-red-700;
  }

  .sidebar::backdrop {
    @apply bg-gray-900/0;
    transition:
      display 250ms allow-discrete,
      overlay 250ms allow-discrete,
      background-color 250ms ease-in-out;
  }

  .sidebar:popover-open::backdrop {
    @apply bg-gray-900/80;
  }

  @starting-style {
    .sidebar:popover-open::backdrop {
      @apply bg-gray-900/0;
    }
  }

  .sidebar>div>div {
    translate: -100% 0;
    opacity: 0;
    transition: opacity 250ms ease-in-out, translate 250ms ease-in-out, overlay 250ms allow-discrete, display 250ms allow-discrete;
  }

  .sidebar:popover-open>div>div {
    /* animation: slide-in 100ms ease-in forwards; */
    translate: 0 0;
    opacity: 1;

    @starting-style {
      translate: -100% 0;
      opacity: 0;
    }
  }
}
